.containerCard {
  position: relative;
  width: 60px;
  height: 85px;
  background: transparent;
  box-shadow: 0px 0px 2px 1px rgba(32, 32, 32, 0.3);
  background-image: url("carte_bonus.png");
  background-size: cover;
  background-color: transparent;
  transition: 0.5s;
}

.containerCard p {
  font-size: 22px;
  text-align: center;
  color: red;
}

.containerCardDos {
  position: absolute;
  width: 60px;
  height: 85px;
  background-image: url("carte_dos.png");
  background-size: cover;
  background-color: transparent;
  top: 0;
  left: 0;
  opacity: 1;
}

.containerCard:hover > .containerCardDos {
  transform: translate(0px, 0px);
  opacity: 0;
}
.containerCard > .containerCardDos {
  transition: ease 0.3s;
}

/* joueur1 */

.joueur1 .containerCardDos {
  background-image: url("cartej1.png");
}
.joueur1 .containerCard {
  background-image: url("cartej1face.png");
}
.joueur1 .containerCard:hover {
  transform: scale(1.4);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px yellow;
}

.joueur1.containerCardDos:first-child {
  width: 75px;
  height: 105px;
}

/* joueur2 */

.joueur2 .containerCard:hover {
  transform: scale(1.4) rotate(90deg);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #c0ff7d;
}
.joueur2 .containerCardDos {
  background-image: url("cartej2.png");
}
.joueur2 .containerCard {
  background-image: url("cartej2face.png");
}

/* joueur3 */

.joueur3 .containerCard:hover {
  transform: scale(1.4) rotate(180deg);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #ff8a43;
}
.joueur3 .containerCardDos {
  background-image: url("cartej3.png");
}
.joueur3 .containerCard {
  background-image: url("cartej3face.png");
}

/* joueur4 */

.joueur4 .containerCard:hover {
  transform: scale(1.4) rotate(180deg);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #a87dff;
}

.joueur4 .containerCardDos {
  background-image: url("cartej4.png");
}
.joueur4 .containerCard {
  background-image: url("cartej4face.png");
}

/* joueur5 */

.joueur5 .containerCard:hover {
  transform: scale(1.4) rotate(270deg);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #436fff;
}

.joueur5 .containerCardDos {
  background-image: url("cartej5.png");
}
.joueur5 .containerCard {
  background-image: url("cartej5face.png");
}
